/** Footer */
.footer {
  padding: 60px 0;

  background-color: $secondary-bcg-color;
}

.footer__container {
  @media screen and (min-width: $tablet-min-width) {
    @include flex($cross: baseline);
  }

  @media screen and (min-width: $tablet-min-width) and (max-width: $tablet-max-width) {
    flex-wrap: wrap;
  }
}

.company-address {
  @media screen and (max-width: $mobile-max-width) {
    margin-bottom: 60px;
    text-align: center;
  }

  @media screen and (min-width: $tablet-min-width) {
    margin-right: 165px;
    margin-bottom: 60px;
  }

  @media screen and (min-width: 1200px) {
    margin-right: 70px;
    text-align: start;
  }
}

.company-address__box {
  margin-top: 20px;
}

.company-address__list {
  @extend %list;
}

.company-address__link {
  color: $footer-contact-color;
  transition: color $duration-timing-function;
  text-decoration: none;
  font-style: normal;

  &:hover,
  &:focus {
    color: $accent-color;
  }
}

.company-address__link--mail {
  display: inline-block;
  margin-bottom: 9px;
}

.company-address__link--location {
  display: inline-block;
  margin-bottom: 9px;

  color: $primary-white-color;
}

.company-socials {
  @media screen and (max-width: $mobile-max-width) {
    margin-bottom: 60px;
  }
}

.social-list__network--grey {
  background-color: $network-firm-color;
}

.social-list__icon--white {
  fill: $primary-white-color;
}

.company-socials__call {
  display: block;
  margin-bottom: 20px;
  color: $primary-white-color;
  text-transform: uppercase;
  line-height: 1.17;

  @media screen and (max-width: $tablet-max-width) {
    text-align: center;
  }
}
