.header {
  position: fixed;

  top: 0;
  left: 0;
  width: 100%;
  min-height: 60px;

  border-bottom: 1px solid $header-border-color;
  background-color: $primary-white-color;

  z-index: 2;

  @media screen and (max-width: $mobile-max-width) {
    padding-top: 16px;
    padding-bottom: 16px;
  }

  @media screen and (min-width: $tablet-min-width) {
    min-height: 80px;
  }

  @media screen and (min-width: $desktop-min-width) {
    width: 100%;
  }
}

.header__mobile-menu-btn {
  @media screen and (max-width: $mobile-max-width) {
    line-height: 0;
    background-color: transparent;
    border: none;
    padding: 0;

    cursor: pointer;

    &:hover,
    &:focus {
      fill: $accent-color;
    }
  }

  @media screen and (min-width: $tablet-min-width) {
    display: none;
  }
}

.header__mobile-menu-icon {
  width: 40px;
  height: 40px;
}

.header__container {
  display: flex;
  align-items: center;

  @media screen and (max-width: $mobile-max-width) {
    justify-content: space-between;
  }
}

.header__navigation {
  display: flex;
  justify-content: space-between;
  @media screen and (min-width: $tablet-min-width) {
    @include flex();
  }
}

/** Site navigation */
.site-nav {
  @extend %list;

  @media screen and (max-width: $mobile-max-width) {
    display: none;
  }

  @media screen and (min-width: $tablet-min-width) {
    display: flex;
    margin-left: 88px;
  }

  @media screen and (min-width: $desktop-min-width) {
    margin-left: 93px;
  }
}

.site-nav__item {
  @media screen and (min-width: $tablet-min-width) {
    &:not(:last-child) {
      margin-right: 50px;
    }
  }
}

.site-nav__link {
  @extend %header__link;
  color: $title-text-color;
  transition: color $duration-timing-function;

  @media screen and (min-width: $tablet-min-width) {
    padding: 32px 0;
  }
}

.contact-nav {
  @extend %list;

  @media screen and (max-width: $mobile-max-width) {
    display: none;
  }

  @media screen and (min-width: $tablet-min-width) {
    display: inline;
    margin-left: auto;
  }

  @media screen and (min-width: $desktop-min-width) {
    display: flex;
  }
}

.contact-nav__item {
  &:not(:last-child) {
    @media screen and (min-width: $tablet-min-width) and (max-width: $tablet-max-width) {
      margin-bottom: 10px;
    }

    @media screen and (min-width: $desktop-min-width) {
      margin-right: 50px;
    }
  }
}

.contact-nav__link {
  @extend %header__link;
  color: $primary-text-color;
  transition: color $duration-timing-function;

  &:hover .contact-nav__icon,
  &:focus .contact-nav__icon {
    fill: $accent-color;
  }

  @media screen and (min-width: $tablet-min-width) {
    @include flex($main: start);
    font-size: 12px;
  }
}

.contact-nav__icon {
  margin-right: 8px;
  fill: currentColor;
  transition: fill $duration-timing-function;

  @media screen and (min-width: $desktop-min-width) {
    margin-right: 10px;
  }
}

.site-nav__link--active {
  position: relative;
  color: $accent-color;

  @media screen and (min-width: $tablet-min-width) {
    &::after {
      position: absolute;
      left: 0;
      bottom: 0;
      display: block;
      content: "";

      height: 4px;
      width: 100%;
      border-radius: 2px;

      background-color: $accent-color;
    }
  }
}
