.button {
  @include flex();

  min-width: 200px;
  padding: 10px 32px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 4px;
  border: none;

  color: $primary-white-color;
  background-color: $accent-color;

  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;

  text-align: center;
  letter-spacing: 0.06em;
  cursor: pointer;

  transition: background-color $duration-timing-function,
    box-shadow $duration-timing-function;

  &:hover,
  &:focus {
    background-color: $button-hover-color;
    box-shadow: $button-hover-shadow;
  }
}
