.clients {
  @include section(60px, 60px);

  @media screen and (min-width: $desktop-min-width) {
    @include section(94px, 94px);
  }
}

.client-list {
  @extend %list;
  display: flex;
  flex-wrap: wrap;

  margin-bottom: calc(-1 * #{$item-gap});
  margin-right: calc(-1 * #{$item-gap});

  @media screen and (min-width: $desktop-min-width) {
    @include flex($main: space-between);
  }
}

.client-list__item {
  flex-basis: calc(100% / 2 - #{$item-gap});
  margin-bottom: $item-gap;
  margin-right: $item-gap;

  @media screen and (min-width: $tablet-min-width) {
    flex-basis: calc(100% / 3 - #{$item-gap});
  }

  @media screen and (min-width: $desktop-min-width) {
    flex-basis: calc(100% / 6 - #{$item-gap});
  }
}

.client-list__logo {
  fill: $primary-icon-color;

  transition: fill $duration-timing-function;
}

.client-list__link {
  @include flex();

  border-radius: 4px;

  border: 1px solid $primary-icon-color;
  transition: border-color $duration-timing-function;

  &:hover,
  &:focus {
    border-color: $accent-color;
  }

  &:hover .client-list__logo,
  &:focus .client-list__logo {
    fill: $accent-color;
  }

  height: 92px;
  width: 210px;

  @media screen and (min-width: $tablet-min-width) {
    width: 226px;
  }

  @media screen and (min-width: $desktop-min-width) {
    width: 170px;
  }
}
