.features {
  @include section(60px, 60px);

  @media screen and (min-width: 1200px) {
    @include section(94px, 47px);
  }
}

.features .section__title {
  @extend %visually-hidden;
}

.feature-list {
  @extend %list;
  display: block;

  @media screen and (min-width: 768px) {
    display: flex;
    flex-wrap: wrap;
  }
}

.feature-list__item {
  width: 450px;

  &:not(:last-child) {
    margin-bottom: $item-gap;
  }

  @media screen and (min-width: 768px) {
    width: 354px;
    margin-bottom: 30px;

    &:nth-last-child(-n + 2) {
      margin-bottom: 0;
    }
    &:nth-child(2n + 1) {
      margin-right: $item-gap;
    }
  }

  @media screen and (min-width: 1200px) {
    width: calc(100% / 4 - #{$item-gap});
    margin-bottom: 0px;

    &:not(:last-child) {
      margin-right: $item-gap;
      margin-bottom: 0;
    }
  }
}

.feature-list__background {
  @include flex();

  height: 120px;
  margin-bottom: $item-gap;

  background-color: $primary-bcg-color;
}

.feature-list__title {
  margin-bottom: 10px;

  color: $title-text-color;
  font-size: inherit;
  line-height: 1.14;
  text-transform: uppercase;

  @media screen and (max-width: 767px) {
    text-align: center;
  }
}
