.features {
  @include section(94px, 47px);
}

.features .section__title {
  @extend %visually-hidden;
}

.feature-list {
  display: flex;
  @extend %list;
}

.feature-list__item {
  width: 270px;

  &:not(:last-child) {
    margin-right: $item-gap;
  }
}

.feature-list__background {
  @include flex();

  height: 120px;
  margin-bottom: $item-gap;

  background-color: $primary-bcg-color;
}

.feature-list__title {
  margin-bottom: 10px;

  color: $title-text-color;
  font-size: inherit;
  line-height: 1.14;
  text-transform: uppercase;
}
