.features {
  @include section(60px, 60px);

  @media screen and (min-width: $desktop-min-width) {
    @include section(94px, 47px);
  }
}

.features .section__title {
  @extend %visually-hidden;
}

.feature-list {
  @extend %list;
  display: block;
  margin-bottom: calc(-1 * #{$item-gap});

  @media screen and (min-width: $tablet-min-width) {
    display: flex;
    flex-wrap: wrap;
    margin-right: calc(-1 * #{$item-gap});
  }
}

.feature-list__item {
  width: 450px;
  margin-bottom: $item-gap;

  @media screen and (min-width: $tablet-min-width) {
    // width: 354px;
    width: calc(100% / 2 - #{$item-gap});
    margin-right: $item-gap;
  }

  @media screen and (min-width: $desktop-min-width) {
    width: calc(100% / 4 - #{$item-gap});
    // width: 270px;
  }
}

.feature-list__background {
  @include flex();

  height: 120px;
  margin-bottom: $item-gap;

  background-color: $primary-bcg-color;
}

.feature-list__title {
  margin-bottom: 10px;

  color: $title-text-color;
  font-size: inherit;
  line-height: 1.14;
  text-transform: uppercase;

  @media screen and (max-width: $mobile-max-width) {
    text-align: center;
  }
}
