.filter-list {
  @extend %list;

  @include flex($main: start);
  flex-wrap: wrap;

  margin-right: calc(-1 * 8px);

  @media screen and (min-width: $tablet-min-width) {
    @include flex();
    margin-bottom: calc(-1 * 8px);
  }

  @media screen and (min-width: $desktop-min-width) {
  }
}

.filter-list__item {
  margin-right: 8px;

  @media screen and (max-width: $mobile-max-width) {
    margin-bottom: 15px;
  }
}

.filter-list__category {
  padding: 6px 22px;
  border-radius: 4px;
  border: 0px;

  color: $title-text-color;
  background-color: $primary-bcg-color;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  cursor: pointer;

  transition: background-color $duration-timing-function,
    color $duration-timing-function, box-shadow $duration-timing-function;

  &:hover,
  &:focus {
    color: $primary-white-color;
    background-color: $accent-color;
    box-shadow: $filter-btn-shadow;
  }
}
