.form__call {
  display: block;
  margin-bottom: 12px;

  font-weight: 700;
  font-size: 20px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.03em;

  color: $title-text-color;

  @media screen and (max-width: $tablet-max-width) {
    width: 370px;
    margin-right: auto;
    margin-left: auto;
  }

  @media screen and (min-width: $desktop-min-width) {
    line-height: 1.15;
  }
}

.form__field {
  display: flex;
  flex-direction: column;
  // width: 448px;
  margin: 0 auto 10px;

  position: relative;

  &:focus-within .form__icon {
    fill: $accent-color;
  }
}

.form__input {
  outline: none;
  border: $input-border;
  border-radius: 4px;
  padding: 11px 0px 11px 42px;

  cursor: pointer;

  transition: border-color $duration-timing-function;

  &:focus {
    border-color: $accent-color;
  }
}

.form__icon {
  position: absolute;
  display: inline-block;

  top: 29px;
  left: 12px;

  transition: fill $duration-timing-function;
}

.form__label {
  margin-bottom: 4px;

  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;

  color: $primary-text-color;
}

.comment {
  margin-bottom: 20px;
}

.form__textarea {
  width: 100%;
  height: 120px;
  resize: none;
  padding: 12px 16px;

  outline: none;
  border: $input-border;
  border-radius: 4px;

  cursor: pointer;
  transition: border-color $duration-timing-function;

  &:focus {
    border-color: $accent-color;
  }

  &::placeholder {
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.01em;

    color: $placeholder-color;

    @media screen and (min-width: $desktop-min-width) {
      font-size: 12px;
    }
  }
}

.policy {
  @include flex();

  flex-direction: row;
  margin-bottom: 30px;
}

.form__label-checkbox {
  display: block;
  margin-bottom: 0px;

  font-size: 12px;
  line-height: 1.14;
  letter-spacing: 0.03em;

  color: $primary-text-color;

  @media screen and (min-width: $desktop-min-width) {
    font-size: 14px;
    line-height: 1.71;
  }
}

.form__link {
  color: $accent-color;
}

.send {
  padding: 10px 55px;
}

.form__icon-checkbox {
  margin-right: 8px;

  border: 2px solid $black-icon-color;
  border-radius: 2px;

  transform: scale(1);
  transition: transform $duration-timing-function,
    background-color $duration-timing-function,
    border-color $duration-timing-function;

  cursor: pointer;
}

.form__checkbox {
  @extend %visually-hidden;

  &:checked + .form__icon-checkbox {
    border-color: transparent;
    background-color: $accent-color;
    transform: scale(1.2);
  }

  &:focus + .form__icon-checkbox {
    // outline: -webkit-focus-ring-color auto 1px;
    box-shadow: 0 0 0 1px $black-icon-color;
  }
}
