/** Hero */
.hero {
  padding: 118px 0;
  text-align: center;

  /* это было ранее в отдельном класс оверлей */
  height: 400px;
  max-width: 767px;
  margin: 0 auto;
  background-color: $secondary-bcg-color;
  // background-image: linear-gradient($hero-overlay-gradient),
  //   url(../images/main-page/hero.jpg);
  // background-repeat: no-repeat;
  // background-position: center;
  // background-size: cover;

  @media screen and (min-width: $tablet-min-width) {
    max-width: 1199px;
  }

  @media screen and (min-width: $desktop-min-width) {
    padding: 200px 0;
    height: 600px;
    max-width: 1600px;
  }
}

.hero__title {
  display: block;
  width: 360px;
  margin: 0 auto 30px;

  color: $primary-white-color;

  font-weight: 900;
  font-size: 26px;
  line-height: 1.62;
  letter-spacing: 0.06em;
  text-transform: uppercase;

  @media screen and (min-width: $desktop-min-width) {
    width: 696px;
    font-size: 44px;
    line-height: 1.36;
  }
}
