.hero__title {
  display: block;
  margin: 0 auto 30px;

  color: $primary-white-color;

  font-weight: 900;
  font-size: 26px;
  line-height: 1.62;
  letter-spacing: 0.06em;
  text-transform: uppercase;

  @media screen and (min-width: $mobile-min-width) {
    width: 360px;
  }

  @media screen and (min-width: $desktop-min-width) {
    width: 696px;
    font-size: 44px;
    line-height: 1.36;
  }
}
