.menu-button {
  display: inline-flex;
  margin: 0;
  padding: 0;
  border: none;
  background-color: transparent;

  z-index: 5;

  @media screen and (min-width: $tablet-min-width) {
    display: none;
  }
}

.menu-button_icon-cross {
  display: none;
}

.menu-button.is-open .menu-button_icon-cross {
  display: block;
}

.menu-button.is-open .menu-button_icon-menu {
  display: none;
}

.menu-container {
  align-items: center;
  background-color: $primary-white-color;

  @media screen and (max-width: $mobile-max-width) {
    padding: 48px 40px;
    display: none;
    position: absolute;
    top: 0%;
    left: 0;
    width: 100%;

    // height: 796px;

    &.is-open {
      display: block;
    }
  }

  @media screen and (min-width: $tablet-min-width) {
    display: flex;
  }
}
