.modal {
  position: fixed;

  top: 50%;
  left: 50%;

  padding: 40px;
  margin-top: 0;

  max-width: 450px;
  width: 100%;

  border-radius: 4px;

  background-color: $primary-white-color;

  transition: transform $duration-timing-function;

  transform: translate(-50%, -50%) scale(1);

  @media screen and (min-width: $desktop-min-width) {
    max-width: 528px;
  }
}

.modal__close-icon {
  fill: $close-icon-color;
  transition: fill $duration-timing-function;
}

.modal__close-btn {
  @include flex();

  position: absolute;
  top: 8px;
  right: 8px;

  width: 30px;
  height: 30px;
  border-radius: 50%;

  border: 1px solid $close-border-color;
  background-color: transparent;

  cursor: pointer;

  &:hover .modal__close-icon,
  &:focus .modal__close-icon {
    fill: $accent-color;
  }
}
