.backdrop {
  position: fixed;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;

  background-color: $backdrop-bcg-color;

  opacity: 1;
  z-index: 99;

  transition: opacity $duration-timing-function,
    visability $duration-timing-function;

  overflow-y: scroll;

  @media screen and (max-width: $mobile-max-width) {
    padding: 93px 15px;
  }

  @media screen and (min-width: $tablet-min-width) and (max-width: $tablet-max-width) {
    padding: 208px 159px;
  }
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;

  & .modal {
    transform: translate(-50%, -50%) scale(1.2);
  }
}

.modal {
  padding: 40px;
  margin-top: 0;
  // min-height: 609px;

  border-radius: 4px;

  background-color: $primary-white-color;

  transition: transform $duration-timing-function;

  @media screen and (min-width: $tablet-min-width) {
    position: absolute;
    top: 50%;
    left: 50%;

    max-width: 450px;
    width: 100%;
    // min-height: 581px;
    // max-width: 528px;

    transform: translate(-50%, -50%) scale(1);
  }

  @media screen and (min-width: $desktop-min-width) {
    max-width: 528px;
  }
}

.close__icon {
  fill: $close-icon-color;
  transition: fill $duration-timing-function;
}

.close {
  @include flex();

  position: absolute;
  top: 8px;
  right: 8px;

  @media screen and (max-width: $mobile-max-width) {
    top: 101px;
    right: 23px;
  }

  width: 30px;
  height: 30px;
  border-radius: 50%;

  border: 1px solid $close-border-color;
  background-color: transparent;

  cursor: pointer;

  &:hover .close__icon,
  &:focus .close__icon {
    fill: $accent-color;
  }
}
