.services {
  @include section(47px, 94px);

  @media screen and (max-width: 1199px) {
    display: none;
  }
}

.service-list {
  display: flex;
  @extend %list;
}

.service-list__item {
  width: 370px;

  &:not(:last-child) {
    margin-right: $item-gap;
  }
}

.service-list__item .service-list__thumb {
  position: relative;
}

.service-list__wrapper {
  @include flex();

  position: absolute;
  bottom: 0;

  width: 100%;
  height: 70px;

  background-color: $service-subtitle-bcg;
}

.service-list__title {
  color: $primary-white-color;

  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
