.staff {
  @include section(60px, 60px);
  background-color: $primary-bcg-color;

  @media screen and (min-width: $desktop-min-width) {
    @include section(94px, 94px);
  }
}

.employee {
  @extend %list;

  @media screen and (min-width: $tablet-min-width) {
    display: flex;
    flex-wrap: wrap;
  }
  @media screen and (min-width: $desktop-min-width) {
    margin-right: calc(-1 * #{$item-gap});
  }
}

.employee__card {
  width: 450px;
  background-color: $primary-white-color;
  box-shadow: $team-member-shadow;
  border-radius: 1px;

  &:not(:last-child) {
    margin-bottom: $item-gap;
  }

  @media screen and (min-width: $tablet-min-width) {
    width: 354px;
    margin-bottom: 30px;

    &:nth-last-child(-n + 2) {
      margin-bottom: 0;
    }
    &:nth-child(2n + 1) {
      margin-right: $item-gap;
    }
  }

  @media screen and (min-width: $desktop-min-width) {
    width: calc(100% / 4 - #{$item-gap});

    &:not(:last-child) {
      margin-right: $item-gap;
      margin-bottom: 0;
    }
  }
}

.employee__info {
  padding: 30px 0;
}

.employee__name {
  margin-bottom: 10px;

  color: $title-text-color;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
}

.employee__position {
  margin-bottom: 16px;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
}
